body {
    background-color: rgb(246, 248, 237);
}
.block{
    width:750; text-align: center; background-color: rgba(199, 8, 8, 0.74);
    color:white;
}
.h1{
    text-align: center;
}
.block1{
    width:750;       
}
.container{
    display: flex; 
}
.img{
    border: dashed; width:73px; margin-left: 2px;
    margin-right: 2px; margin-top: 2px; margin-bottom: 2px;
}
.copyright{
    background-color: rgb(0, 0, 0);
    color: white ;
    text-align: center;
    font-size: 20px;
    font-weight: bold; margin-bottom: 3px;
}