
body{
    padding:50px;
    background-color: rgb(192, 243, 243);
}


#My_simple_website{
    border: 5px solid rgb(9, 255, 0);
    margin: 0px auto;
    background-color:rgb(190, 24, 24) ;
}

#sunset{
    border: 5px solid rgb(9, 255, 0);
}

#Copyright{
    background-color: rgb(192, 243, 243);
    border: 5px solid rgb(9, 255, 0);
    margin-bottom:0.1%;

}